.hStyle{
    text-align: center;
    color:Black;
    font-style:italic;
    margin:1px;
    padding:1px;
    font-weight: Bold;
    &:hover{
        color:orange;
        margin:10px;
        padding:5px;
    }
}