.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    margin-bottom: 10px;

  }
  .logo{
    margin-bottom: 10px;

  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
    .logoo {
      font-family: "Orbitron", sans-serif;
    }
  }
}
span.option{
  font-family: 'Shojumaru', cursive;
  font-weight: bold;
  margin: 3px;
  padding:1px;
  font-size: larger;
  padding-top: unset;
  margin-bottom: 5px;
  color:black;
  
  
  &.hover{
    background-color: black;
    margin:0px;
  }
}